
        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://www.facebook.com/dilyantraykov" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/dilyantraykov" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://www.linkedin.com/in/dtraykov/" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/dilyantraykov/" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://www.youtube.com/c/ДилянТрайков" target="_blank" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
                <li><a href="mailto:dtraykov94@gmail.com" target="_blank" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Dilyan Traykov</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>

        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.poptrox.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/util.js"></script>
        <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
        <script src="js/main.js"></script>
        <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="dtraykov" data-description="Support me on Buy me a coffee!" data-message="Thanks for visiting! If you want to support me or simply get me a beer, that would be greatly apreciated!" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

    </body>
</html>
