body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #f4f4f9;
}

h1 {
    font-size: 36px;
    color: #333;
}

#word {
    font-size: 40px;
    margin: 20px;
    font-weight: bold;
    color: #007bff;
}

input[type="text"] {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #0056b3;
}

button {
    font-size: 18px;
    padding: 10px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.submit {
    background-color: green;
}

.refresh {
    background-color: #007bff;
}

button:hover {
    background-color: #0056b3;
}

button {
    display: inline-flex; /* Keep buttons on the same row */
}

#result {
    margin-top: 10px;
    font-weight: bold;
    height: 30px; /* Fixed height to prevent layout shift */
    line-height: 30px; /* Align text vertically in the center */
}

.info {
    color: #007bff;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
}

select:focus {
    border-color: #0056b3;
}

@media (max-width: 768px) {
    button {
        display: block;
        width: 320px;
        margin: 5px auto;
    }

    button i {
        font-size: 20px;
    }
    
    button span {
        font-size: 16px;
    }
}